<a href="https://colab.research.google.com/github/MOHANYADAV555/Competitive-programming/blob/main/DICTIOARYY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# sting 
                   #syntax
str = input("enter your string name ")                  #[string value : ending value : step value] you cant give step value ,defaultly 1 is their
print(len(str))
print(str[0:])
print(str[0:10])
#print([]: :)
#print(str[10])
print(type(str))

enter your string name python
6
python
python
<class 'str'>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
print(str*3)

pythonpythonpython

In [ ]:
str1 = input("enter your string name ")
str2 = input("enter your string name ")
str3 = str1+str2
print(str3)     
print(str1+str2)

enter your string name progrmmaing
enter your string name python
progrmmaingpython
progrmmaingpython

In [ ]:
#  LIST

# LISTS ARE IMMUTABLE
#DUPLICATES ARE ALOOW

list = [100,200,"maca,20"]   
list.append("mba")
list[3]=19
#list.remove([1])
print(type(list))

print(list)

<class 'list'>
[100, 200, 'maca,20', 19]

In [ ]:
dic = {"karnataka":"banglore","tamilnadu":"chennai","fruits":["apple","banana","pinpple"],"cricters":["virat kohi","m.s dhoni","k.l rahul"]}
print(dic["cricters"])
print(dic.keys())
print(dic.values())
print(dic.items())

['virat kohi', 'm.s dhoni', 'k.l rahul']
dict_keys(['karnataka', 'tamilnadu', 'fruits', 'cricters'])
dict_values(['banglore', 'chennai', ['apple', 'banana', 'pinpple'], ['virat kohi', 'm.s dhoni', 'k.l rahul']])
dict_items([('karnataka', 'banglore'), ('tamilnadu', 'chennai'), ('fruits', ['apple', 'banana', 'pinpple']), ('cricters', ['virat kohi', 'm.s dhoni', 'k.l rahul'])])

In [ ]:
dic = {"karnataka":"banglore","tamilnadu":"chennai","fruits":["apple","banana","pinpple"],"cricters":["virat kohi","m.s dhoni","k.l rahul"]}
for i in dic.keys( ):    # in dictnaries keys and pairs are their
                        #keys cant change once you can create,values are changed 
  print(i)

karnataka
tamilnadu
fruits
cricters

In [ ]:
dic = {"karnataka":"banglore","tamilnadu":"chennai","fruits":["apple","banana","pinpple"],"cricters":["virat kohi","m.s dhoni","k.l rahul"]}
for i in  dic.values():
  print(i)

banglore
chennai
['apple', 'banana', 'pinpple']
['virat kohi', 'm.s dhoni', 'k.l rahul']

In [ ]:
dic = {"karnataka":"banglore","tamilnadu":"chennai","fruits":["apple","banana","pinpple"],"cricters":["virat kohi","m.s dhoni","k.l rahul"]}
for i,j in dic.items():
  print(i, 'is the key','and ',j, 'is the value')

karnataka is the key and  banglore is the value
tamilnadu is the key and  chennai is the value
fruits is the key and  ['apple', 'banana', 'pinpple'] is the value
cricters is the key and  ['virat kohi', 'm.s dhoni', 'k.l rahul'] is the value

In [ ]:
dic = {"karnataka":"banglore","tamilnadu":"chennai","fruits":["apple","banana","pinpple"],"cricters":["virat kohi","m.s dhoni","k.l rahul"]}
print(dic["cricters"][0])

virat kohi

In [ ]:
dic["cricters"][0] = "rohit sharma"

In [ ]:
print(dic["cricters"])

['rohit sharma', 'm.s dhoni', 'k.l rahul']

In [ ]:
print(dic.keys())
print(type(dic))

dict_keys(['karnataka', 'tamilnadu', 'fruits', 'cricters'])
<class 'dict'>

In [ ]:
mail_id = input("enter your mail id")
password = int(input("enter your correct password"))
dic = {}
dic[mail_id]=password
print(dic)

enter your mail idmohanyadav8374@gmail.com
enter your correct password9985770393
{'mohanyadav8374@gmail.com': 9985770393}

In [ ]:
#mail_id = input("enter your mail id ")



#password = int(input("enter your correct password "))
dic = {}

for i in range(3):

  
  mail_id = input("enter your mail id ")
  password = int(input("enter your correct password "))
  
  
  dic[mail_id]=password
print(dic)

enter your mail id a
enter your correct password 1
enter your mail id b
enter your correct password 2
enter your mail id c
enter your correct password 2
{'a': 1, 'b': 2, 'c': 2}

In [ ]:
print("WELCOME TO THE UPCOMPING MUTHYALAMMA JATHARA ")
dic = {}
opinion=input("do you want to go another another house(yes/no) : ")
while opinion=="yes":
    house_holder_name = input("enter your name : ")
    houseno= int(input("enter your house identity number : "))
    amount = int(input("enter your amount : "))
    opinion=input("do you want to go another another house(yes/no) : ")

    dic[houseno]=[house_holder_name,amount]
#print(dic)
#print(dic.values())

WELCOME TO THE UPCOMPING MUTHYALAMMA JATHARA
do you want to go another another house(yes/no) : yes
enter your name : mohn
enter your house identity number : 1
enter your amount : 200
do you want to go another another house(yes/no) : yes
enter your name : chi
enter your house identity number : 2
enter your amount : 233
do you want to go another another house(yes/no) : no

In [ ]:
val  = list(dic.values())
val

[['m', 233], ['s', 455]]

In [ ]:
val[0][1]

233

In [ ]:
total_amount = 0
for i in range(len(val)):
  #k  = val[i][1]
  total_amount += val[i][1]
print(total_amount)

688

In [ ]:
keys  =  list(dic.keys())
value  =  list(dic.values())

In [ ]:
keys

[1, 2]

In [ ]:
value

[['mohn', 200], ['chi', 233]]

In [ ]:
for i in range(len(keys)):
  if value[i][1] <= 300:
    print(value[i][0],'is has given less thn 300 rupees and his id is ',keys[i])

mohn is has given less thn 300 rupees and his id is  1
chi is has given less thn 300 rupees and his id is  2