<a href="https://colab.research.google.com/github/MOHANYADAV555/Competitive-programming/blob/main/LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List has Different Numbers,Values,Strings and Group of them
#List are mutable,We can chnage the values,numbers,strings any thing 
#List are denoted by square brackets "[ ]"
#String is a collection of character

In [ ]:
number = [25,12,9,0,1,4]
print(number)

[25, 12, 9, 0, 1, 4]

In [ ]:
print(number[0])#normal values started with 1, but index values started with 1
print(number[1])
print(number[-1])# -1 represent reverse the list
print(number[-5])
print(number[2:])
print(number[:])
print(number[::-1])# REVERSE THE FULL LIST
print(number[0:2000])
#print(number[233]) OUT OF RANGE INDEX VALUE

25
12
4
12
[9, 0, 1, 4]
[25, 12, 9, 0, 1, 4]
[4, 1, 0, 9, 12, 25]
[25, 12, 9, 0, 1, 4]

In [3]:
name  = ["mohan","i","a","s"]
print(name)

['mohan', 'i', 'a', 's']

In [4]:
values = [9.5,9,'MCA']
print(values)

[9.5, 9, 'MCA']

In [6]:
mil = [name,values]
print(mil)

[['mohan', 'i', 'a', 's'], [9.5, 9, 'MCA']]

In [8]:
print(values)

[9.5, 9, 'MCA']

In [11]:
values.append(45)
print(values)

[9.5, 9, 'MCA', 45, 45, 45]

In [16]:
values.insert(4,77) # here 4 means index value 
print(values)

[9.5, 9, 77, 'MCA', 77, 45, 45, 45]

In [22]:
values.remove(45)
print(values)

[9.5, 9, 77, 'MCA', 77, 45]

In [25]:
num = ["mohan",1,5,1.5,'1']
num.clear

In [26]:
print(num)

['mohan', 1, 5, 1.5, '1']

In [29]:
num.pop()  # WE CAN USE POP VALUE REMOVE LAST VALUE IN A LIST

'1'

In [32]:
num.extend([1,2,3,4,5])

In [33]:
print(num)

['mohan', 1, 5, 1.5, 1, 2, 3, 4, 5]

In [46]:
a = [1,2,3,4,5,3,42,7,8,9]

In [42]:
print(min(a))
print(max(a))
print(sum(a))

1
9
45

In [43]:
a.sort()

In [47]:
print(a)

[1, 2, 3, 4, 5, 3, 42, 7, 8, 9]